# Data Types in Python

### Intergers

In [1]:
# Positive or Negative whole numbers without decimal place

s = 198

In [4]:
print(s)

198

In [5]:
type(s)

int

### Floats

In [6]:
# Real numbers with decimal place

r = 12.43

In [7]:
type(r)

float

In [9]:
# convers intergers and floats

int(r)

12

In [10]:
float(s)

198.0

### Boolean

In [15]:
j = True
e = False

In [13]:
type(j)

bool

In [1]:
location = "chandler lives in mumbai"

In [2]:
type(location)

str

In [3]:
print (location)

chandler lives in mumbai

In [4]:
print(location + ", maharashtra")

chandler lives in mumbai, maharashtra

In [6]:
print (9, location)

9 chandler lives in mumbai

In [ ]:
myself = 'I\'am siddhesh'

In [ ]:
print(myself)

In [7]:
list = ['siddhesh', 'rahul', 'chandler']

In [8]:
type(list)

list

In [9]:
list[1]

'rahul'

In [11]:
list[1] = 'joey'

In [12]:
list

['siddhesh', 'joey', 'chandler']

In [13]:
list[0] = 'ross'

In [14]:
list

['ross', 'joey', 'chandler']

In [15]:
list.append('rachel')

In [16]:
list

['ross', 'joey', 'chandler', 'rachel']

In [17]:
list[3] = 'monica'

In [18]:
list

['ross', 'joey', 'chandler', 'monica']

In [17]:
list.append('pheobe')

In [18]:
print(list)

['ross', 'joey', 'chandler', 'rachel', 'pheobe']

In [19]:
list.append('monica')

In [20]:
print(list)

['ross', 'joey', 'chandler', 'rachel', 'pheobe', 'monica']

In [22]:
list[2:4]

['chandler', 'rachel']

In [25]:
list[:3]

['ross', 'joey', 'chandler']

In [20]:
tuple = (34, 2,  43, 53, 435)

In [21]:
tuple

(34, 2, 43, 53, 435)

In [22]:
tuple.append(65)

AttributeError: 'tuple' object has no attribute 'append'

# Conditional statement

## 'if' statement

In [27]:
print(list)

['ross', 'joey', 'chandler', 'rachel', 'pheobe', 'monica']

In [34]:
name = list[4]
if name is 'ross':
    print('hey rossatron')
elif name is 'chandler':
    print('mondler')
elif name is 'joey':
    print('how you doin!')
else:
    print('this is not your home, go back')

this is not your home, go back

# loops

## 'for' loop

In [39]:
food = ['turky is good', 'tuna', 'sausages', 'pie', 'beer']

In [40]:
food[0]

'turky is good'

In [38]:
for f in food:
    print(f)

turky
tuna
sausages
pie
beer

## range and while

In [47]:
for x in range (5, 50, 5):
    print(x)

5
10
15
20
25
30
35
40
45

In [50]:
candy = 10
while candy < 20:
    print (candy)
    candy += 1

10
11
12
13
14
15
16
17
18
19

## break

In [63]:
candy = 15
for c in range (1, 50):
    if c is candy:
        print ('I\'am full')
        break
    else:
        print(c)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
I'am full

### simple program with python

In [65]:
seatsbooked = [3, 4, 6, 13, 17]

print('following seats are available')

for s in range(1, 20):
    if s in seatsbooked:
        continue
print(s)

following seats are available